<h2 class="page-header">My Blog</h2>
<form method="post" action="/users/index">
    <div class="form-group">
        <label>Text</label>
        <input type="text" class="form-control" placeholder="Please write here.">
    </div>
    <div class="form-group">
        <label>Sign Name</label>
        <input type="text" class="form-control" placeholder="Please sign name.">
    </div>
    <div class="form-group">
        <label>Date and Time</label>
        <form action="/action_page.php"></form>
        <input type="datetime-local" name="date">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
